h1 {
	color: #D9D9D9;
}

#price {
	font-size: 4em;
	color: #DA7422;
}

.MyContainer {
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:#284B63;
}

.MyContainer p {
	color : #fff;
}